@model IEnumerable<ToysMVCASP.Models.ToyStore>

@{
    ViewData["Title"] = "Index";
}

<h1>Toy Stores</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreNAme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingTime)
            </th>
            <th><a class="btn btn-primary" asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreNAme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToyStoreId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToyStoreId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToyStoreId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
